---
import Layout from "../../layouts/Layout.astro";
import LayoutMedia from "../../layouts/LayoutMedia.astro";
import { getSettingMediaResolution } from "../../utils/mediaUtils";

const { slug } = Astro.params;
const res = await fetch(
  `${import.meta.env.VITE_BASE_URL}/reviews/review-video/${slug}`,
);
const { data } = await res.json();
const mediaInfo = getSettingMediaResolution(slug);
const posterVideo = `poster-${mediaInfo.resolution}.png`;
---

<Layout type="Navbar">
  <LayoutMedia type="Video" resolution={mediaInfo.resolution}>
    <div class="mt-5">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-x-3 gap-y-5 mt-5">
        {
          data.map((item, _) => (
            <video
              class="rounded-sm aspect-video object-fill"
              width={mediaInfo.widthMedia}
              height={mediaInfo.heightMedia}
              preload="none"
              poster={`${import.meta.env.VITE_BASE_MEDIA_URL}/videos/${posterVideo}`}
              controls
              muted
            >
              <source
                src={`${import.meta.env.VITE_BASE_MEDIA_URL}/videos/${item.path_video}`}
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          ))
        }
      </div>
    </div>
  </LayoutMedia>
</Layout>
